<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="shortcut icon" href="{{url_for('static',filename='img/index/logo2.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/ventana.css')}}">
</head>

<body>
    <div class="logo-container">
        <img class="logo" src="{{url_for('static',filename='img/index/logo2.jpg')}}" alt="">
    </div>

    <h1 class="text-center">Variedades de la casa<i class="fa fa-caret-square-o-right" aria-hidden="true"></i></h1>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4 py-5">

        <div class="card">
            <img src="{{url_for('static',filename='img/PlatosFuertes/img17.jpg')}}" class="card-img-top" alt="...">
            <div style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">Langostinos al Gratín</h5>
                    <p class="card-text"> $ 59.000</p>
                </div>
                <button class="btn btn-primary mostrar-ingredientes" data-plato-id="60">Ingredientes</button>
                <button class="btn btn-primary mostrar-pedido" data-plato-id="60">Pedir</button>
            </div>
        </div>

        <div class="card">
            <img src="{{url_for('static',filename='img/PlatosFuertes/img18.jpg')}}" class="card-img-top" height="250px">
            <div style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">Langostinos Hawaianos</h5>
                    <p class="card-text">$ 59.000</p>
                </div>
                <button class="btn btn-primary mostrar-ingredientes" data-plato-id="61">Ingredientes</button>
                <button class="btn btn-primary mostrar-pedido" data-plato-id="61">Pedir</button>
            </div>
        </div>

        <div class="card">
            <img src="{{url_for('static',filename='img/PlatosFuertes/img19.jpg')}}" class="card-img-top" height="250px">
            <div style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">Linguine Marinera</h5>
                    <p class="card-text">$ 47.000</p>
                </div>
                <button class="btn btn-primary mostrar-ingredientes" data-plato-id="62">Ingredientes</button>
                <button class="btn btn-primary mostrar-pedido" data-plato-id="62">Pedir</button>
            </div>
        </div>

        <div class="card">
            <img src="{{url_for('static',filename='img/PlatosFuertes/img20.jpg')}}" class="card-img-top" height="250px">
            <div style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">Paella de la Casa</h5>
                    <p class="card-text">$ 52.000</p>
                </div>
                <button class="btn btn-primary mostrar-ingredientes" data-plato-id="63">Ingredientes</button>
                <button class="btn btn-primary mostrar-pedido" data-plato-id="63">Pedir</button>
            </div>
        </div>

        <div class="card">
            <img src="{{url_for('static',filename='img/PlatosFuertes/img21.jpeg')}}" class="card-img-top"
                height="250px">
            <div style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">Parrillada de Mariscos </h5>
                    <p class="card-text">$ 52.000</p>
                </div>
                <button class="btn btn-primary mostrar-ingredientes" data-plato-id="64">Ingredientes</button>
                <button class="btn btn-primary mostrar-pedido" data-plato-id="64">Pedir</button>
            </div>
        </div>

        <div class="card">
            <img src="{{url_for('static',filename='img/PlatosFuertes/img22.jpg')}}" class="card-img-top" height="250px">
            <div style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">Pollo con Champiñones</h5>
                    <p class="card-text">$ 38.000</p>
                </div>
                <button class="btn btn-primary mostrar-ingredientes" data-plato-id="65">Ingredientes</button>
                <button class="btn btn-primary mostrar-pedido" data-plato-id="65">Pedir</button>
            </div>
        </div>


        <div class="card">
            <img src="{{url_for('static',filename='img/PlatosFuertes/img23.jpg')}}" class="card-img-top" height="250px">
            <div style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">Pollo Gratinado</h5>
                    <p class="card-text">$ 40.000 </p>
                </div>
                <button class="btn btn-primary mostrar-ingredientes" data-plato-id="66">Ingredientes</button>
                <button class="btn btn-primary mostrar-pedido" data-plato-id="66">Pedir</button>
            </div>
        </div>

        <div class="card">
            <img src="{{url_for('static',filename='img/PlatosFuertes/img24.jpg')}}" class="card-img-top" height="250px">
            <div style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">Pollo Grillet</h5>
                    <p class="card-text">$ 35.000 </p>
                </div>
                <button class="btn btn-primary mostrar-ingredientes" data-plato-id="67">Ingredientes</button>
                <button class="btn btn-primary mostrar-pedido" data-plato-id="67">Pedir</button>
            </div>
        </div>

    </div>

    <div class="ventanaEmergente" id="ventanaIngredientes">
        <div class="contenido">
            <span class="cerrar" id="cerrarVentanaIngredientes" onclick="cerrarVentana('ventanaIngredientes')">&times;</span>
            <h3 class="tituloVentana">Ingredientes</h3>
            <ul class="listaIngredientes" id="listaIngredientes"></ul>
        </div>
    </div>
    
    <div class="ventanaEmergente" id="ventanaPedido">
        <div class="contenido">
            <span class="cerrar" id="cerrarVentanaPedido" onclick="cerrarVentana('ventanaPedido')">&times;</span>
            <h3 class="tituloVentana">Pedido</h3>
            <ul class="listaIngredientes" id="listaIngredientesPedido"></ul>
            <label for="">Cantidad: </label>
            <input class="quantity" id="id_form-0-quantity" min="0" name="form-0-quantity" value="1" type="number">
            <select id="metodoPago" class="btn btn-primary">
                <option value="">Método de pago</option>
                <option value="Tarjeta">Tarjeta</option>
                <option value="Efectivo">Efectivo</option>
            </select>
            <!-- Agrega el ID "btnPedir" al botón Pedir -->
            <button id="btnPedir" class="btn btn-primary">Pedir</button>
        </div>
    </div>

    <div style="text-align: center;"></div>
        <section class="pagi">
            <ul>
                <li class="scroll-to-section"><a href="/Variedades" class="activate">1</a></li>
            </ul>
        </section>
        <section class="pagi">
            <ul>
                <li class="scroll-to-section"><a href="/menu" class="activate">volver</a></li>
            </ul>
        </section>
    </div>

    <script src="{{ url_for('static', filename='js/ventana.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>