@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
 margin: 0;
  padding: 0;
  box-sizing: border-box;
      font-family: 'Open Sans';
}
body{
    background-image: url(../img/index/fondologin.jpg);
  background-size: cover;
}

.logo-container {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 20vh;
  /* Esto hace que el contenedor ocupe toda la altura de la pantalla */
}

.logo {
  margin: auto;
  width: 150px;
  height: 150px;
}

nav{
 max-width: 2000px;
  margin: auto;
        background-color: rgba(255, 255, 255, 0);
     font-size: 10px;
        margin-top: 2px;
}
.menu-horizontal{
 list-style: none;
display: flex;
justify-content: space-around;
}
.menu-horizontal > li > a{
  display: block;
      padding: 20px 20px;
        color: rgb(0, 0, 0);
      text-decoration: none;
}
.menu-horizontal > li:hover{
  background-color: #5bafdd;
}
.menu-vertical{
   position: absolute;
   display: none;
        list-style: none;
  width: 200px;
        background-color: rgb(215, 214, 214);
}
.menu-horizontal li:hover .menu-vertical{
       display: block;
}
.menu-vertical li:hover{
    background-color: rgb(137, 177, 238);
}

.menu-vertical li a{
      display: block;
  color: white;
        text-decoration: none;
     padding: 15px 15px 15px 20px;
}
li{
    font-size: 17px;
}
.h1{
    padding: 1em;
}
.h1{
    font-size: 100px;
    font-family: 'Lobster', cursive;
}

