/* Estilo para la ventana emergente */
.ventanaEmergente {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    overflow: auto;
}
  
  /* Estilo para el contenido de la ventana emergente */
.contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 80%;
}
  
  /* Estilo para el botón de cierre */
.cerrar {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #000; /* Cambia el color del botón a negro */
}

  /* Estilo para el título de la ventana emergente */
.tituloVentana {
    color: #000; /* Color del texto del título en negro */
    margin-bottom: 10px; /* Agrega un margen inferior para separar el título del contenido */
    margin-right: 15px;
}
  
  /* Estilo para la lista de ingredientes */
#listaIngredientes { /* Cambia el ID de Ingredientes a listaIngredientes */
    list-style: none; /* Elimina el punto al inicio de los elementos */
    padding: 0;
    font-size: 18px;
    margin-top: 10px;
  }
