<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Ingrediente</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/index/logo2.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
</head>
  <body>
    <div class="pagi">
    <ul>
        <li class="scroll-to-section"><a href="/menuAdmin" class="activate">volver</a></li>
    </ul>
  </div>
    <div class="login-page">
        <div class="form">
          <form action="/registrarIngredient" method="POST" class="login-form">
            <img src="{{url_for('static',filename='img/index/logo2.jpg')}} "  >
            <br><br>
            <label for="">Nombre del ingrediente</label>
            <input type="text" name="nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ\s]{5,}" required/>
            <label for="">Descripción del ingrediente</label>
            <input type="text" name="descripcion" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ\s]{7,}" required/>
            <label for="">Tipo sabor del ingrediente</label>
            <select class="input-contenedor" name="tipoSabor" required>
              <option value=""></option>
              <option value="Dulce">Dulce</option>
              <option value="Salado">Salado</option>
              <option value="Amargo">Amargo</option>
              <option value="Ácido">Ácido</option>
              <option value="Umami">Umami</option>
            </select>
            <label for="">Categoría del ingrediente</label>
            <select class="input-contenedor" name="categoria" required>
              <option value=""></option>
              <option value="Granos">Granos</option>
              <option value="Granos">Salsas</option>
              <option value="Granos">Harinas</option>
              <option value="Verduras">Verduras</option>
              <option value="Frutas">Frutas</option>
              <option value="Lácteos">Lácteos</option>
              <option value="Proteínas">Proteínas</option>
            </select>
            <br>
            <button>Registrar</button>
          </form>
        </div>
      </div>
</body>
</html>