<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/index/logo2.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
</head>
  <body>
    <div class="login-page">
        <div class="form">

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
              {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

          <form method="POST"  action="{{ url_for('login.crearCuenta') }}" class="login-form" {{novalidate}} >
            <img src= "{{url_for('static',filename='img/index/logo2.jpg')}}" height="150px" width="150px" >
            </br>
            </br> 
            <label for="">Correo Electrónico</label>
            <input type="email" name="correo"/>
            <br>
            <label for="">Contraseña</label>
            <input type="password" name="password" />
            <br>
            <label for="">Confirme contraseña</label>
            <input type="password" name="confirmarPassword"/>
            <br>
            <button type="submit">Registrate</button>
          </form>
        </div>
      </div>
</body>
</html>